#parent{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align:center;
  position:relative;
  background-color: #7DDDFF;
  /*padding: 100px 0px;*/
  font-family: 'Lato', sans-serif;
}

.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-52%) translateX(-50%);
  width: 1000px;
}

.date{
  color: white;
  font-size: 20px;
  margin-bottom: 4px;
  color: white;
  font-weight: 300;
}

.title {
  width: 280px;
}

.tagline {
  color: #E1FEFF;
  margin-top: -14px;
  font-size: 18px;

}

.cloudplayer {
  margin: 20px;
}

.subscribe {
  color: #E1FEFF;
  font-size: 18px;
  line-height: 22px;
}

.takashi {
  position: absolute;
  bottom: 0;
  width: 240px;
}

.nikhil {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 220px;
}

a{
  color: white;
}

a:hover {
  color: #E1FEFF;
}

.links{
  /*border: solid 2px white;*/
  margin-top: 10px;
  background-color: #6ED7FF;
  padding: 8px 14px;
  width: 280px;
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.social {
  margin-top: 10px;
}

.fa{
  color: white;
  margin: 8px;
  font-size: 24px !important;
}

/*.footer {
  font-weight: 300;
  font-size: 14px;
}*/
